body {
	font-family: "georgia", Times, serif;
	padding-left: 200px; 
	padding-right: 200px;
}

.graph {

}

.fixed {
	position: fixed;
	background: gray;
	top: 0;
	left: 0;
	padding: 20px;
	width: 300;

}

.relative {
	position: relative;
	padding: 100px;
	background: gray;
}

.absolute {
	position: absolute;
	width: 150px;
	height: 100px;
	background-color: black;
	color: white;
	right: -10px;
}